{% extends 'base.html' %}
{% block title %} Delete your blog {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% if user.id == post.author_id %}
            <h1>DELETE YOUR BLOG</h1>
            <hr>
            <br>

            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}

                    <!-- Using django's form to make create blog post form !-->

                    You are deleting your blog
                    <br><br>
                    Title: <strong>{{ post.title }}</strong>
                    <br>
                    Body: <strong>{{ post.body }}</strong>
                    <br><br>

                    {{ form.as_p }}
                    <button class="btn btn-secondary">Delete Post</button>


                </form>
            </div>
        {% else %}
            <strong>You can't delete other's blog</strong>
        {% endif %}
    {% else %}
        <br>
        <strong>Please Login to delete your blog</strong>
    {% endif %}

{% endblock %}