{% extends 'base.html' %}
{% block title %} Delete your blog {% endblock %}

{% block content %}

    <h1>DELETE YOUR BLOG</h1>
    <hr>
    <br>

    <form method="POST">
        {% csrf_token %}

        <!-- Using django's form to make create blog post form !-->

        You are deleting your blog
        <br><br>
        Title: <strong>{{ post.title }}</strong>
        <br>
        Body: <strong>{{ post.body }}</strong>
        <br><br>

        {{ form.as_p }}
        <button class="btn btn-secondary">Delete Post</button>


    </form>

{% endblock %}