{% extends 'base.html' %}

{% block content %}
    <ul>

        <h1>POSTS</h1>
        <br>
        {% for post in object_list %}
            <li>
                <a href="{% url 'article-detail' post.pk %}">{{ post.title }} </a>
                <span
                        style="width:5px;display:inline-block"></span>
                <small>{{ post.post_date }}</small>
            </li>
            <li>{{ post.author.first_name }} {{ post.author.last_name }} </li>
            <li>{{ post.body|slice:":125" }}</li>

            {% if user.is_authenticated %}
                {% if user.id == post.author_id %}
                <small><a href="{% url 'update-post' post.pk %}">(Edit) </a> <span
                        style="width:7px;display:inline-block"></span>
                    <a href="{% url 'delete-post' post.pk %}">(Delete) </a> </small>
                {% endif %}

            {% endif %}
            <br><br>
        {% endfor %}
    </ul>
{% endblock %}